:root{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: url("img/bg-without-blurs.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}
main{
    overflow-x: hidden;
}
img{
    user-select: none;
}
img, span, a, video, input, label, button, textarea{
    display: block;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}
.container{
    padding: 0 60px;
}
.header{
    padding: 30px 0;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    &__blur{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        position: absolute;
        top: -50px;
        left: -50px;
        background: linear-gradient(337.05deg, rgba(255, 91, 219, 0.2) 18.26%, rgba(2, 203, 221, 0) 102.74%);
        filter: blur(50px);
        transform: rotate(164.94deg);
        z-index: -1;
    }
    &__nav{
        display: flex;
        align-items: center;
        a{
            margin-right: 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #2964E3;
            text-align: center;
            background: #FFFFFF;
            border-radius: 150px;
            padding: 0 30px;
            max-width: 200px;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
                transition: all 0.3s;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                box-shadow: 0 0 13px 2px #1987C9;
            }
        }
    }
    &__switch{
        display: flex;
        align-items: center;
        a{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #2964E3;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
        a.switch-active{
            padding-top: 2px;
            border-bottom: 2px solid  #2964E3;
        }
    }
}
@media(max-width:890px){
    .header{
        padding: 10px 0;
        &__logo img{
            width: 60px;
            height: 60px;
        }
        &__nav{
            a{
                margin-right: 15px;
                width: 100px;
                padding: 8px 10px;
                font-size: 10px;
                line-height: 15px;
                height: 40px;
                min-height: 0;
            }
        }
        &__switch{
            a{
                font-size: 15px;
                line-height: 150%;
            }
        }
    }
}
@media(max-width:590px){
    .header{
        .container{
            padding: 0 20px;
        }
    }
    .header{
        padding: 10px 0;
        &__logo img{
            width: 52px;
            height: 52px;
        }
        &__nav{
            a{
                margin-right: 15px;
                width: 100px;
                padding: 8px 10px;
                font-size: 10px;
                line-height: 12px;
                height: 28px;
                min-height: 0;
            }
        }
        &__switch{
            a{
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
}
@media(max-width: 475px){
    body{
        background: url("img/mobile-without-blurs.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .container{
        padding: 0 20px;
    }
    .header{
        padding: 10px 0;
        &__logo img{
            width: 52px;
            height: 52px;
        }
        &__nav{
            a{
                margin-right: 15px;
                width: 100px;
                padding: 8px 10px;
                font-size: 10px;
                line-height: 12px;
                height: 28px;
                min-height: 0;
            }
        }
        &__switch{
            a{
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
}
.s1{
    &__home{
        padding: 0 30px 90px 30px;
    }
    &__blur{
        position: absolute;
        bottom: -170px;
        right: 0;
        z-index: -1;
        width: 606px;
        height: 606px;
        border-radius: 100%;
        
        background: linear-gradient(337.05deg, rgba(255, 91, 219, 0.2) 18.26%, rgba(2, 203, 221, 0) 102.74%);
        filter: blur(50px);
    }
    &__wrapper{
        position: relative;
        width: 100%;
        padding: 70px 0 90px;
        background: url("img/protection/banner.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 300px;
    }
    &__title{
        font-weight: 500;
        font-size: 134px;
        line-height: 138px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #2964E3;
        width: 900px;
        margin: 0 auto;
    }
}
@media(max-width:1190px){
    .s1{
        &__home{
            padding: 0 30px 0 30px;
        }
        &__wrapper{
            width: 100%;
            padding: 70px 0 90px;
            background: url("img/protection/banner.svg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 300px;
        }
        &__title{
            font-size: 100px;
            line-height:110px;
            letter-spacing: -0.03em;
            width: 800px;
        }
    }
}
@media(max-width:890px){
    .s1{
        &__home{
            padding: 0 20px 40px 20px;
        }
        &__wrapper{
            width: 100%;
            padding: 30px 50px 30px;
            background: url("img/protection/banner.svg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 300px;
        }
        &__title{
            font-size: 78px;
            line-height: 84.1%;
            width: 500px;
        }
    }
}
@media(max-width:590px){
    .s1{
        &__blur{
            position: absolute;
            bottom: -170px;
            right: 0;
            z-index: -1;
            border-radius: 100%;
            width: 280px;
            height: 280px;
            
            background: rgba(255, 91, 219, 0.4);
            filter: blur(50px);
        }
        &__home{
            padding: 0 20px 10px 20px;
        }
        &__wrapper{
            width: 100%;
            padding: 20px 50px 20px;
            background: url("img/protection/banner.svg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 300px;
        }
        &__title{
            font-size: 46px;
            line-height: 84.1%;
            width: 230px;
        }
    }
}
.s2{
    &__home{
        padding: 0 0 100px 0;
    }
    &__block{
        width: 875px;
        margin: 0 auto;
        &-mob{
            display: none;
            width: 70px;
            height: 70px;
        }
        &-flex{
            position: relative;
            display: flex;
            row-gap: 20px;
            column-gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-lock{
            position: absolute;
            top: -50px;
            left: -150px;
        }
        &-title{
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #404040;
            margin-bottom: 30px;
            width: 380px;
        }
        &-heading{
            font-weight: 600;
            font-size: 64px;
            line-height: 77px;
            color: #2964E3;
            margin-bottom: 10px;
        }
        &-subheading{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #404040;
            width: 335px;
        }
        &-item{
            background: #FFFFFF;
            border-radius: 20px;
            padding: 10px 20px;
            width: 430px;
            &:last-child{
                display: flex;flex-direction: column; align-items: center;
                width: 100%;
                .s2__block-subheading{
                    display: flex;flex-direction: column; align-items: center;
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width:1270px){
    .s2{
        &__home{
            padding: 0 0 100px 0;
        }
        &__block{
            width: 700px;
            &-mob{
                display: block;
            }
            &-flex{
                justify-content: space-between;
                row-gap: 20px;
            }
            &-lock{
                display: none;
            }
            &-title{
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: #404040;
                margin-bottom: 30px;
                width: 380px;
            }
            &-heading{
                font-size: 32px;
                line-height: 39px;
            }
            &-subheading{
                font-size: 14px;
                line-height: 180%;
                width: 250px;
            }
            &-item{
                width: 330px;
                background: #FFFFFF;
                border-radius: 20px;
                padding: 10px 20px;
                &:last-child{
                    align-items: flex-start;
                    width: 100%;
                    .s2__block-subheading{
                        align-items: flex-start;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media(max-width:800px){
    .s2{
        &__home{
            padding: 0 0 60px 0;
        }
        &__block{
            width: 100%;
            &-mob{
                display: block;
            }
            &-flex{
                flex-direction: column;
                row-gap: 20px;
                column-gap: 0;
            }
            &-lock{
                display: none;
            }
            &-title{
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: #404040;
                margin-bottom: 30px;
                width: 380px;
            }
            &-heading{
                font-size: 32px;
                line-height: 39px;
            }
            &-subheading{
                font-size: 14px;
                line-height: 180%;
                width: 250px;
            }
            &-item{
                background: #FFFFFF;
                border-radius: 20px;
                padding: 10px 20px;
                width: 100%;
                &:last-child{
                    align-items: flex-start;
                    width: 100%;
                    .s2__block-subheading{
                        align-items: flex-start;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media(max-width:475px){
    .s2{
        &__home{
            padding: 0 0 60px 0;
        }
        &__block{
            width: 100%;
            &-mob{
                display: block;
            }
            &-flex{
                flex-direction: column;
                row-gap: 20px;
                column-gap: 0;
            }
            &-lock{
                display: none;
            }
            &-title{
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: #404040;
                margin-bottom: 30px;
                width: 380px;
            }
            &-heading{
                font-size: 32px;
                line-height: 39px;
            }
            &-subheading{
                font-size: 14px;
                line-height: 180%;
                width: 250px;
            }
            &-item{
                background: #FFFFFF;
                border-radius: 20px;
                padding: 10px 20px;
                width: 100%;
                &:last-child{
                    align-items: flex-start;
                    width: 100%;
                    .s2__block-subheading{
                        align-items: flex-start;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.item{
    &__title{
        font-weight: 600;
        font-size: 64px;
        line-height: 77px;
        
        color: #2964E3;
        margin-bottom: 60px;
        text-align: center;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 90px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        img{
            margin-right: 20px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #404040;
        padding: 10px;
        background: #EEEEEE;
        border-radius: 15px;
        width: 380px;
        &-big{
            font-size: 32px;
            line-height: 39px;
        }
    }
    &__link{
        text-decoration-line: underline;
        color: #2964E3;
        display: inline;
    }
    &__info{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #404040;
        width: 425px;
    }
    &__bottom{
        width: 380px;
        margin-top: 50px;
    }
    &__heading{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #2964E3;
    }
    &__subheading{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #2964E3;
    }
    &__accent{
        color: #00A0D2 !important; 
    }
}
.s3{
    &__title{
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        text-align: center;
        color: #404040;
        margin-bottom: 90px;
    }
    &__block{
        background: rgba(255, 255, 255, 0.7);
        border-radius: 0 405px 405px 0;
        margin-right: 60px;
        padding: 60px 110px 60px 170px;
        &-title{

        }
        &-info{
            margin-bottom: 50px;
        }
        &-item{
            &:first-child{
                .s3__block-info{
                    margin-top: 50px;
                }
            }
            
        }

    }

}
@media(max-width:1350px){
    .s3{
        &__title{
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            color: #404040;
            margin-bottom: 90px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0 405px 405px 0;
            margin-right: 20px;
            padding: 60px 60px 60px 60px;
            &-title{
    
            }
            &-info{
                margin-bottom: 50px;
            }
            &-item{
                &:first-child{
                    .s3__block-info{
                        margin-top: 50px;
                    }
                }
                
            }
    
        }
    
    }
}
@media(max-width:1110px){
    .item{
        &__grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            column-gap: 0;
        }
        &__wrapper{
            display: flex;
            align-items: flex-start;
        }
        &__title{
            text-align: center;
        }
    }
    .s3{
        &__block{
            border-radius: 0;
            margin-right: 0;
            padding: 60px 60px 60px 100px;
            &-item{
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
@media(max-width:800px){
    .item{
        &__title{
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            
            color: #2964E3;
            margin-bottom: 30px;
        }
        &__grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0;
        }
        &__wrapper{
            display: flex;
            align-items: flex-start;
            img{
                margin-right: 20px;
                width: 40px;
                height: 40px;
            }
        }
        &__text{
            font-size: 14px;
            line-height: 180%;
            width: 245px;
            padding: 10px;
            .mob-hidden{
                display: none;
            }
        }
        &__info{
            font-weight: 400;
            font-size: 14px;
            line-height: 180%;
            width: 100%;
        }
        &__bottom{
            width: 260px;
            margin-top: 30px;
        }
        &__heading{
            font-size: 14px;
            line-height: 180%;
        }
        &__subheading{
            font-size: 20px;
            line-height: 140%;
        }
    }
    .s3{
        &__title{
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            width: 295px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0;
            margin-right: 0;
            padding: 20px;
            &-item{
                width: 100%;
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
        }
    
    }
}
// @media(max-width:475px){
//     .item{
//         &__title{
//             font-weight: 600;
//             font-size: 32px;
//             line-height: 39px;
            
//             color: #2964E3;
//             margin-bottom: 30px;
//         }
//         &__grid{
//             display: grid;
//             grid-template-columns: repeat(1, 1fr);
//             column-gap: 0;
//         }
//         &__wrapper{
//             display: flex;
//             align-items: flex-start;
//             img{
//                 margin-right: 20px;
//                 width: 40px;
//                 height: 40px;
//             }
//         }
//         &__text{
//             font-size: 14px;
//             line-height: 180%;
//             width: 245px;
//             padding: 10px;
//             .mob-hidden{
//                 display: none;
//             }
//         }
//         &__info{
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 180%;
//             width: 100%;
//         }
//         &__bottom{
//             width: 260px;
//             margin-top: 30px;
//         }
//         &__heading{
//             font-size: 14px;
//             line-height: 180%;
//         }
//         &__subheading{
//             font-size: 20px;
//             line-height: 140%;
//         }
//     }
//     .s3{
//         &__title{
//             font-weight: 600;
//             font-size: 32px;
//             line-height: 39px;
//             width: 295px;
//             margin: 0 auto;
//             margin-bottom: 30px;
//         }
//         &__block{
//             background: rgba(255, 255, 255, 0.7);
//             border-radius: 0;
//             margin-right: 0;
//             padding: 20px;
//             &-item{
//                 width: 100%;
//                 &:first-child{
//                     margin-bottom: 60px;
//                     .s3__block-info{
//                         margin-top: 30px;
//                     }
//                 }
//             }
//         }
    
//     }
// }
.s4{
    &__home{
        margin-top: 80px;
    }
    &__block{
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        margin: 0 60px;
        padding: 30px 120px;
        &-title{

        }
        &-info{
            margin: 50px 0;
        }
        &-item{
            &:first-child{
                .s3__block-info{
                    margin-top: 50px;
                }
            }
            
        }

    }

}
@media(max-width:1350px){
    .s4{
        &__title{
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            color: #404040;
            margin-bottom: 90px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0 405px 405px 0;
            margin-right: 0;
            border-radius: 20px 0 0 20px;
            padding: 30px 60px;
            &-title{
    
            }
            &-info{
                margin-bottom: 50px;
            }
            &-item{
                &:first-child{
                    .s3__block-info{
                        margin-top: 50px;
                    }
                }
                
            }
    
        }
    
    }
}
@media(max-width:1110px){
    .s4{
        &__block{
            border-radius: 0;
            margin-right: 0;
            margin-left: 0;
            padding: 30px 60px;
            &-item{
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
@media(max-width:800px){
    .s4{
        &__title{
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            width: 295px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0;
            margin-right: 0;
            padding: 20px;
            &-info{
                margin: 30px 0;
            }
            &-item{
                width: 100%;
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
        }
    
    }
}
.s5{
    .item__bottom{
        width: 450px;
    }
    .item__info{
        width: 480px;
    }
    &__home{
        margin-top: 80px;
    }
    &__block{
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        margin-right: 60px;
        border-radius: 0 405px 405px 0;
        padding: 30px 120px;
        &-flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-box{
            &:first-child{
            margin-bottom: 30px;
        }
            &_wrapper{
                display: flex;
                align-items: center;
                img{
                    margin-right: 30px;
                }
            }
            .item__subheading{
                width: 440px;
            }
        }
        &-info{
            margin: 50px 0;
        }
        &-item{
            &:first-child{
                .s3__block-info{
                    margin-top: 50px;
                }
            }
            
        }

    }

}
@media(max-width:1350px){
    .s5{
        &__title{
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            color: #404040;
            margin-bottom: 90px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0 405px 405px 0;
            margin-right: 0;
            border-radius: 20px 0 0 20px;
            padding: 30px 60px;
            &-title{
    
            }
            &-info{
                margin-bottom: 50px;
            }
            &-item{
                &:first-child{
                    .s3__block-info{
                        margin-top: 50px;
                    }
                }
                
            }
    
        }
    
    }
}
@media(max-width:1110px){
    .s5{
        .item__info{
            width: 100%;
        }
        &__block{
            border-radius: 0;
            margin-right: 0;
            margin-left: 0;
            padding: 30px 60px;
            &-item{
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
            &-flex{
                flex-direction: column;
                align-items: center;
            }
            &-box{
                
                &_wrapper{
                    .item__subheading{
                        // width: 250px;
                    }
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
@media(max-width:800px){
    .s5{
        &__title{
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            width: 295px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0;
            margin-right: 0;
            padding: 20px;
            &-info{
                margin: 30px 0;
            }
            &-item{
                width: 100%;
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
        }
        .item__bottom{
            width: 100%;
        }
        .item__subheading{
            width: 250px;
        }
    
    }
}
.s6{
    .item__bottom{
        width: 450px;
    }
    .item__info{
        width: 480px;
    }
    .item__text{
        width: 655px;
    }
    &__home{
        margin-top: 80px;
    }
    &__block{
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        margin-right: 60px;
        border-radius: 0 405px 405px 0;
        padding: 30px 120px;
        &-flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-box{
            &:first-child{
            margin-bottom: 30px;
        }
            &_wrapper{
                display: flex;
                align-items: center;
                img{
                    margin-right: 30px;
                }
            }
            .item__subheading{
                width: 440px;
            }
        }
        &-info{
            margin: 50px 0;
        }
        &-item{
            &:first-child{
                .s3__block-info{
                    margin-top: 50px;
                }
            }
            
        }

    }

}
@media(max-width:1350px){
    .s6{
        &__title{
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            color: #404040;
            margin-bottom: 90px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0 405px 405px 0;
            margin-right: 0;
            border-radius: 20px 0 0 20px;
            padding: 30px 60px;
            &-title{
    
            }
            &-info{
                margin-bottom: 50px;
            }
            &-item{
                &:first-child{
                    .s3__block-info{
                        margin-top: 50px;
                    }
                }
                
            }
    
        }
    
    }
}
@media(max-width:1110px){
    .s6{
        .item__info{
            width: 100%;
        }
        &__block{
            border-radius: 0;
            margin-right: 0;
            margin-left: 0;
            padding: 30px 60px;
            &-item{
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
            &-flex{
                flex-direction: column;
                align-items: center;
            }
            &-box{
                
                &_wrapper{
                    .item__subheading{
                        // width: 250px;
                    }
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
@media(max-width:800px){
    .s6{
        .item__text{
            width: 250px;
        }
        &__title{
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            width: 295px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__block{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 0;
            margin-right: 0;
            padding: 20px;
            &-info{
                margin: 30px 0;
            }
            &-box{
                &_wrapper{
                    align-items: flex-start;
                }
            }
            &-item{
                width: 100%;
                &:first-child{
                    margin-bottom: 60px;
                    .s3__block-info{
                        margin-top: 30px;
                    }
                }
            }
        }
        .item__bottom{
            width: 100%;
        }
        .item__subheading{
            width: 100%;
        }
    
    }
}
.s7{
    &__home{
        margin-bottom: 150px;
    }
    &__blur{
        position: absolute;
        width: 360px;
        height: 270px;
        bottom: -20px;
        left: -100px;
        border-radius: 100%;
        z-index: -1;
        
        background: rgba(0, 210, 223, 0.3);
        filter: blur(50px);
        transform: rotate(165deg);
    }
    &__home{
        padding-bottom: 100px;
    }
    &__heading{
        text-align: center;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #404040;
        margin-bottom: 90px;
        margin-top: 70px;
    }
    &__wrap{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: minmax(100px, 240px) minmax(100px, 1050px);
        // display: flex;
        // position: relative;
        // align-items: flex-end;
        // padding-left: 300px;
        &:last-child{
            margin-top: 150px;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #3D1EAA;
        margin-bottom: 40px;
        width: 450px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 70px;
    }
    &__info{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #404040;
        width: 470px;
        a{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            text-decoration-line: underline;
            color: #2964E3;
            margin-top: 30px;
        }
    }
    &__add{
        width: 390px;
        margin-right: 0;
        height: fit-content;
    }
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #707070;
        max-width: 350px;
    }
    &__lock{
        // position: absolute;
        // left: 90px;
        // top: 0;
    }
    &__block{
        background: linear-gradient(93.64deg, rgba(255, 255, 255, 0) .58%, #FFFFFF 90.93%);
        border-radius:  0px 300px  300px 0px ;
        height: 325px;
        width: 1317px;
        position: relative;
        padding-left: 300px;
        margin-top: 30px;
        cursor: grab;
        user-select: none;
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
        &-heading{
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #2964E3;
        }
        &-subheading{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #707070;
        }
        &-info{
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(138.98deg, #00D2DF 6.04%, #FF5BDB 112.06%);
            color: #FFFFFF;
            height: 325px;
            width: 325px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all .2s;
            cursor: pointer;
            &:hover .s7__active{
                opacity: 0;
                width: 0;
                font-size: 0;
            }
            .s7__active{
                transition: all .2s;
                font-size: 80px;
            }
            .s7__hover{
                transition: all .2s;
                opacity: 0;
                font-size: 0;
                width: 0;
            }
            &:hover .s7__hover{
                opacity: 1;
                width: 100%;
                font-size: 32px;
            }
        }
    }
}
@media(max-width: 1350px){
    .s7{
        &__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__block{
            height: 325px;
            width: 100%;
            position: relative;
            padding-left: 100px;
            margin-top: 30px;
        }
    }
}
@media(max-width:1200px){
    .s7{
        &__home{
            margin-top: 80px;
        }
        &__wrapper{
            column-gap: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }        
        &__heading{
            font-size: 40px;
        }
        &__lock{
            width: 180px;
            height: 180px;
        }
        &__info{
            margin-right: 0;
        }
        &__add{
            width: 470px;
            margin-top: 10px;
        }
        &__block{
            height: 300px;
            padding-left: 60px;
            &-info{
                color: #FFFFFF;
                height: 300px;
                width: 300px;
                &:hover .s7__active{
                    opacity: 0;
                    width: 0;
                    font-size: 0;
                }
                .s7__active{
                    transition: all .2s;
                    font-size: 72px;
                }
                .s7__hover{
                    transition: all .2s;
                    opacity: 0;
                    font-size: 0;
                    width: 0;
                }
                &:hover .s7__hover{
                    opacity: 1;
                    width: 100%;
                    font-size: 28px;
                }
            }
        }
    }
}
@media(max-width:850px){
    .s7{
        &__wrap{
            display: block;
        }
        &__title{
            font-size: 25px;
            line-height: 140%;
            width: 100%;
            margin-bottom: 10px;margin-left: 0;
        }
        &__heading{
            margin-bottom: 10px;
        }
        &__wrapper{
            display: block;margin-left: 0;
        }
        &__info{
            font-size: 22px;
            line-height: 180%;
            max-width: none;
            margin-right: 0;
            width: 100%;
        }
        &__text{
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #707070;
            margin-top: 30px;
            max-width: none;
        }
        &__lock{
            width: 70px;
            height: 70px;
            margin-top: 10px;
        }
        &__block{
            padding: 20px 20px 50px 60px;
            background: #FFFFFF;
            border-radius: 0;
            height: 100%;
            width: 100%;
            margin-top: 150px;
            &-text{
                justify-content: flex-start;
            }
            &-heading{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 10px;                
            }
            &-subheading{
                font-size: 14px;
                line-height: 180%;
            }
            &-info{
                top: 75%;
                right: calc(50% - 65px);
                width: 130px;
                height: 130px;
                .s7__active{
                    font-size: 30px;
                }
                &:hover .s7__hover{
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width:550px){
    .s7{
        &__wrap{
            display: block;
        }
        &__title{
            font-size: 20px;
            line-height: 140%;
            width: 100%;
            margin-bottom: 10px;margin-left: 0;
        }
        &__wrapper{
            display: block;margin-left: 0;
        }
        &__info{
            font-size: 14px;
            line-height: 180%;
            max-width: none;
            margin-right: 0;
        }
        &__text{
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #707070;
            margin-top: 30px;
            max-width: none;
        }
        &__lock{
            width: 70px;
            height: 70px;
            margin-top: 10px;
        }
        &__block{
            padding: 20px 20px 50px 60px;
            background: #FFFFFF;
            border-radius: 0;
            height: 100%;
            width: 100%;
            margin-top: 30px;
            &-text{
                justify-content: flex-start;
            }
            &-heading{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 10px;                
            }
            &-subheading{
                font-size: 14px;
                line-height: 180%;
            }
            &-info{
                top: 75%;
                right: calc(50% - 65px);
                width: 130px;
                height: 130px;
                .s7__active{
                    font-size: 30px;
                }
                &:hover .s7__hover{
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width:475px){
    .s7{
        &__blur{
            width: 250px;
            height: 250px;
            background: rgba(159, 249, 255, 0.3);
            filter: blur(50px);
        }
        &__block{
            padding-left: 20px;
        }
    }
}
.s8{
    &__blur{
        width: 536px;
        height: 253px;
        position: absolute;
        left: calc(50% - 260px);
        bottom: -50px;
        border-radius: 100%;
        background: linear-gradient(337.05deg, rgba(255, 91, 219, 0.4) 18.26%, rgba(2, 203, 221, 0) 102.74%);
        filter: blur(50px);
        z-index: -1;
    }
    &__home{}
    &__title{
        text-align: center;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #404040;
        margin-bottom: 60px;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        margin-bottom: 100px;
    }
    &__item{
        background: white;
        border-radius: 150px;
        width: 417px;
        padding: 20px;
        display: flex;
        align-items: center;
        margin: 20px 10px;
        &:nth-child(1){
            margin-left: 20px;
        }
        &:nth-child(2){
            margin-right: 20px;
        }
        ul{
            list-style-position: inside;
            list-style-type: none;
            li{
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                width: 380px;
                position: relative;
                padding-left: 40px;
                height: 100%;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    top: calc(50% - 12px);
                    background: url("img/check_24px.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
    &__box{
        margin-top: 80px;
    }
    &__info{
        &-main{
            width: 830px;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #707070;
        }
        &-sec{
            margin-top: 40px;
            width: 520px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #707070;
        }
    }
}
@media(max-width:1024px){
    .s8{
        &__title{
            text-align: center;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #404040;
            margin-bottom: 60px;
        }
        &__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            background: white;
            border-radius: 150px;
            width: 417px;
            padding: 20px;
            display: flex;
            align-items: center;
            margin: 20px 10px;
            &:nth-child(1){
                margin-left: 20px;
            }
            &:nth-child(2){
                margin-right: 20px;
            }
            ul{
                list-style-position: inside;
                list-style-type: none;
                li{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    width: 380px;
                    position: relative;
                    padding-left: 40px;
                    height: 100%;
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 24px;
                        height: 24px;
                        top: calc(50% - 12px);
                        background: url("img/check_24px.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
        &__box{
            margin-top: 80px;
        }
        &__info{
            &-main{
                width: 830px;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #707070;
            }
            &-sec{
                margin-top: 40px;
                width: 520px;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #707070;
            }
        }
    } 
}
@media(max-width:890px){
    .s8{
        &__title{
            font-size: 20px;
            line-height: 140%;
            margin-bottom: 20px;
        }
        &__wrapper{
            flex-direction: column;
            height: 100%;
        }
        &__item{
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            margin: 0 0 20px 0;
            &:nth-child(1){
                margin-left: 0;
            }
            &:nth-child(2){
                margin-right: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
            ul{
                li{
                    font-size: 14px;
                    line-height: 180%;
                    width: 100%;
                    position: relative;
                    padding-left: 40px;
                    height: 100%;
                }
            }
        }
        &__box{
            margin-top: 80px;
        }
        &__info{
            &-main{
                width: 830px;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #707070;
            }
            &-sec{
                margin-top: 40px;
                width: 520px;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #707070;
            }
        }
    }
}
@media(max-width:475px){
    .s8{
        &__title{
            font-size: 20px;
            line-height: 140%;
            margin-bottom: 20px;
        }
        &__wrapper{
            flex-direction: column;
            height: 100%;
        }
        &__item{
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            margin: 0 0 20px 0;
            &:nth-child(1){
                margin-left: 0;
            }
            &:nth-child(2){
                margin-right: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
            ul{
                li{
                    font-size: 14px;
                    line-height: 180%;
                    width: 100%;
                    position: relative;
                    padding-left: 40px;
                    height: 100%;
                }
            }
        }
        &__box{
            margin-top: 80px;
        }
        &__info{
            &-main{
                width: 830px;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #707070;
            }
            &-sec{
                margin-top: 40px;
                width: 520px;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #707070;
            }
        }
    }
}
.s9{
    &__home{
        margin: 100px 0;
    }
    .img__blur{
        position: absolute;
        right: 90px;
        top: 0;
        width: 361px;
        height: 361px;
        border-radius: 100%;
        z-index: -1;


        background: rgba(255, 91, 219, 0.2);
        filter: blur(50px);
    }
    &__wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin-left: 20px;
        }
    }
    &__text{
        width: 480px;

    }
    &__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #3D1EAA;
        margin-bottom: 40px;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #404040;
    }
}
@media(max-width:1040px){
    .s9{
        &__wrapper{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-left: 20px;
            }
        }
        &__text{
            width: 100%;
        }
        img{
            width: 250px;
        }
    }
}
@media(max-width:840px){
    .s9{
        &__title{
            font-size: 25px;
            line-height: 140%;
        }
        &__subtitle{
            font-size: 22px;
            line-height: 180%;
        }
        img{
            width: 180px;
        }
    }
}
@media(max-width:690px){
    .s9{
        .img__blur{
            position: absolute;
            right: 100px;
            top: 60%;
            border-radius: 100%;
            z-index: -1;
            width: 246px;
            height: 246px;
            
            background: rgba(255, 91, 219, 0.2);
            filter: blur(50px);
        }
        &__wrapper{
            flex-direction: column;
        }
        img{
            margin: 30px 0 0 0;
        }
    }
}
.s10{
    &__home{
        padding: 0 30px 90px 30px;
        margin-bottom: 50px;
    }
    &__mob{
        display: none;
    }
    &__wrapper{
        position: relative;
        width: 100%;
        padding: 70px 0 90px;
        background: url("img/protection/banner.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 300px;
    }
    &__title{
        font-weight: 500;
        font-size: 134px;
        line-height: 134px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #2964E3;
        width: 900px;
        margin: 0 auto;
        padding-top: 50px;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #404040;
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    img{
        position: absolute;
        top: 0;
        left: calc(50% - 88px);
        z-index: 0;
    }
}
@media(max-width:1190px){
    .s10{
        &__home{
            padding: 0 30px 0 30px;
        }
        &__wrapper{
            width: 100%;
            padding: 70px 0 90px;
            background: url("img/protection/banner.svg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 300px;
        }
        &__title{
            font-size: 100px;
            line-height:110px;
            letter-spacing: -0.03em;
            width: 800px;
        }
        &__subtitle{
            font-size: 28px;
            line-height: 30px;
        }
    }
}
@media(max-width:890px){
    .s10{
        &__home{
            padding: 0 20px 40px 20px;
        }
        &__wrapper{
            width: 100%;
            padding: 100px 50px 30px;
            background: url("img/protection/banner.svg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 300px;
        }
        &__title{
            font-size: 78px;
            line-height: 80px;
            width: 500px;
            padding-top: 50px;
        }
        &__subtitle{
            display: none;
        }
        &__mob{
            font-weight: 400;
            margin-top: 20px;
            display: block;
            padding: 0 20px;
            font-size: 28px;
            line-height: 30px;
            text-align: center;
            color: #404040;
        }
    }
}
@media(max-width:590px){
    .s10{
        &__blur{
            position: absolute;
            bottom: -170px;
            right: 0;
            z-index: -1;
            border-radius: 100%;
            width: 280px;
            height: 280px;
            
            background: rgba(255, 91, 219, 0.4);
            filter: blur(50px);
        }
        &__home{
            padding: 0 20px 10px 20px;
        }
        &__wrapper{
            width: 100%;
            padding: 100px 50px 20px;
            background: url("img/protection/banner.svg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 300px;
        }
        &__title{
            font-size: 42px;
            line-height: 84.1%;
            width: 230px;
        }
        &__mob{
            width: 300px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 180%;
            margin-top: 40px;
        }
    }
}
.footer{
    background: url("img/main/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 75px 0;
    &__wrapper{
        display: grid;
        grid-template-columns: minmax(100px, 300px) minmax(100px, 500px);
        align-items: center;
        column-gap: 12rem;
    }
    &-logo{
        font-weight: 600;
        font-size: 26px;
        line-height: 84.1%;
        letter-spacing: -0.07em;
        color: #404040;
    }
    &__links{
        display: flex;
        align-items: center;
        a{
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border-radius: 150px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #2964E3;
            width: 200px;
            padding: 15px 30px;
            text-align: center;
            &:last-child{
                margin-left: 20px;
            }
        }
    }
}
@media(max-width:1160px){
    .footer{
        padding: 50px 0;
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-logo{
            font-weight: 600;
            font-size: 26px;
            line-height: 84.1%;
            letter-spacing: -0.07em;
            color: #404040;
        }

    }
}
@media(max-width:992px){
.footer{
    &__wrapper{
        column-gap: 0;
    }
    &__links{
        a{
            height: 55px;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 30px;
        }
    }
}
}
@media(max-width:710px){
    .footer{
        padding-bottom: 60px;
        &-logo{
            margin-bottom: 30px;
        }
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}
@media(max-width: 475px){
    .footer{
        &-logo{
            font-size: 32px;
        }
        padding: 30px 0;
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        &__links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                height: 50px;
                font-weight: 400;
                font-size: 14px;
                line-height: 180%;
                margin-top: 20px;
                &:last-child{
                    margin-left: 0;
                }
            }
        }
    }
}
